<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.teacher_classnet">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TeacherClassNet"
        android:usesCleartextTraffic="${usesCleartextTraffic}">
        <activity android:name=".activity_test_details"></activity>
        <activity android:name=".activity_add_question" />
        <activity android:name=".activity_create_test" />
        <activity android:name=".activity_create_content" />
        <activity android:name=".activity_class_main" />
        <activity android:name=".activity_class_list" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>